
.t {
	-webkit-transform-origin: top left;
	-moz-transform-origin: top left;
	-o-transform-origin: top left;
	-ms-transform-origin: top left;
	-webkit-transform: scale(0.25);
	-moz-transform: scale(0.25);
	-o-transform: scale(0.25);
	-ms-transform: scale(0.25);
	z-index: 2;
	position: absolute;
	white-space: pre;
	overflow: visible;
}


#t1_13{left:93px;top:595px;letter-spacing:-4.6px;word-spacing:4.2px;}
#t2_13{left:55px;top:638px;letter-spacing:-5.2px;word-spacing:4.4px;}
#t3_13{left:353px;top:638px;letter-spacing:-4.6px;word-spacing:4.2px;}
#t4_13{left:55px;top:681px;letter-spacing:-4.7px;word-spacing:3.5px;}
#t5_13{left:55px;top:724px;letter-spacing:-5.3px;word-spacing:4.9px;}
#t6_13{left:58px;top:48px;letter-spacing:-5.1px;}
#t7_13{left:40px;top:793px;}

.s1_13{
	FONT-SIZE: 134.4px;
	FONT-FAMILY: HMAvenir-Regular_pk;
	color: rgb(0,0,0);
}

.s2_13{
	FONT-SIZE: 146.7px;
	FONT-FAMILY: HMAvenir-Bold_pp;
	color: rgb(0,0,0);
}

.s3_13{
	FONT-SIZE: 73.3px;
	FONT-FAMILY: HMAvenir-Bold_pp;
	color: rgb(0,0,0);
}



@font-face {
	font-family: HMAvenir-Bold_pp;
	src: url("fonts/HMAvenir-Bold_pp.woff") format("woff");
}

@font-face {
	font-family: HMAvenir-Regular_pk;
	src: url("fonts/HMAvenir-Regular_pk.woff") format("woff");
}

