
.t {
	-webkit-transform-origin: top left;
	-moz-transform-origin: top left;
	-o-transform-origin: top left;
	-ms-transform-origin: top left;
	-webkit-transform: scale(0.25);
	-moz-transform: scale(0.25);
	-o-transform: scale(0.25);
	-ms-transform: scale(0.25);
	z-index: 2;
	position: absolute;
	white-space: pre;
	overflow: visible;
}


#t1_3{left:253px;top:318px;word-spacing:1px;}
#t2_3{left:75px;top:333px;letter-spacing:-0.1px;word-spacing:1.1px;}
#t3_3{left:84px;top:349px;word-spacing:1.1px;}
#t4_3{left:70px;top:364px;word-spacing:0.7px;}
#t5_3{left:64px;top:379px;word-spacing:1.1px;}
#t6_3{left:70px;top:395px;letter-spacing:-0.1px;word-spacing:0.8px;}
#t7_3{left:57px;top:410px;}
#t8_3{left:191px;top:410px;word-spacing:1.2px;}
#t9_3{left:77px;top:425px;letter-spacing:-0.1px;word-spacing:0.7px;}
#ta_3{left:60px;top:440px;word-spacing:1.1px;}
#tb_3{left:57px;top:456px;letter-spacing:-0.1px;word-spacing:0.7px;}
#tc_3{left:61px;top:471px;letter-spacing:-0.1px;word-spacing:0.8px;}
#td_3{left:59px;top:486px;word-spacing:1.1px;}
#te_3{left:86px;top:502px;letter-spacing:-0.1px;word-spacing:0.8px;}
#tf_3{left:92px;top:517px;letter-spacing:-0.1px;}
#tg_3{left:204px;top:532px;letter-spacing:-0.1px;word-spacing:0.4px;}
#th_3{left:188px;top:568px;}
#ti_3{left:318px;top:568px;letter-spacing:-0.1px;word-spacing:0.1px;}
#tj_3{left:71px;top:592px;letter-spacing:-0.1px;word-spacing:0.1px;}
#tk_3{left:146px;top:592px;}
#tl_3{left:193px;top:592px;letter-spacing:-0.1px;word-spacing:0.1px;}
#tm_3{left:268px;top:592px;letter-spacing:-0.1px;word-spacing:-0.3px;}
#tn_3{left:235px;top:608px;letter-spacing:-0.1px;word-spacing:0.1px;}
#to_3{left:161px;top:666px;letter-spacing:-0.5px;word-spacing:0.8px;}
#tp_3{left:232px;top:692px;}
#tq_3{left:189px;top:709px;}
#tr_3{left:321px;top:709px;}
#ts_3{left:217px;top:726px;letter-spacing:-0.1px;}
#tt_3{left:190px;top:744px;}
#tu_3{left:181px;top:766px;letter-spacing:-0.2px;word-spacing:-0.3px;}
#tv_3{left:88px;top:104px;letter-spacing:-0.2px;}
#tw_3{left:88px;top:137px;letter-spacing:-0.1px;word-spacing:0.1px;}
#tx_3{left:88px;top:154px;letter-spacing:-0.1px;word-spacing:0.1px;}
#ty_3{left:259px;top:104px;letter-spacing:-0.1px;}
#tz_3{left:259px;top:137px;word-spacing:-0.1px;}
#t10_3{left:375px;top:137px;}
#t11_3{left:259px;top:157px;letter-spacing:-0.2px;word-spacing:0.2px;}
#t12_3{left:328px;top:157px;word-spacing:0.1px;}
#t13_3{left:259px;top:177px;letter-spacing:-0.1px;word-spacing:0.1px;}
#t14_3{left:392px;top:177px;}
#t15_3{left:259px;top:197px;letter-spacing:-0.1px;}
#t16_3{left:343px;top:197px;letter-spacing:-0.1px;}
#t17_3{left:259px;top:217px;}
#t18_3{left:349px;top:217px;letter-spacing:0.1px;}
#t19_3{left:259px;top:236px;letter-spacing:-0.1px;}
#t1a_3{left:351px;top:236px;letter-spacing:-0.1px;word-spacing:0.1px;}
#t1b_3{left:259px;top:256px;letter-spacing:-0.1px;}
#t1c_3{left:422px;top:256px;letter-spacing:-0.1px;}
#t1d_3{left:51px;top:793px;}

.s1_3{
	FONT-SIZE: 48.9px;
	FONT-FAMILY: MyriadPro-Bold_v2;
	color: rgb(0,0,0);
}

.s2_3{
	FONT-SIZE: 48.9px;
	FONT-FAMILY: MyriadPro-Regular_pm;
	color: rgb(0,0,0);
}

.s3_3{
	FONT-SIZE: 55px;
	FONT-FAMILY: MyriadPro-Regular_pm;
	color: rgb(0,0,0);
}

.s4_3{
	FONT-SIZE: 55px;
	FONT-FAMILY: MyriadPro-It_pl;
	color: rgb(0,0,0);
}

.s5_3{
	FONT-SIZE: 91.7px;
	FONT-FAMILY: MyriadPro-Semibold_po;
	color: rgb(0,0,0);
}

.s6_3{
	FONT-SIZE: 73.3px;
	FONT-FAMILY: MyriadPro-Bold_v2;
	color: rgb(0,0,0);
}

.s7_3{
	FONT-SIZE: 85.6px;
	FONT-FAMILY: MyriadPro-BlackSemiCn_pn;
	color: rgb(0,0,0);
}

.s8_3{
	FONT-SIZE: 55px;
	FONT-FAMILY: MyriadPro-Semibold_po;
	color: rgb(0,0,0);
}

.s9_3{
	FONT-SIZE: 73.3px;
	FONT-FAMILY: HMAvenir-Regular_pk;
	color: rgb(109,110,113);
}



@font-face {
	font-family: MyriadPro-Regular_pm;
	src: url("fonts/MyriadPro-Regular_pm.woff") format("woff");
}

@font-face {
	font-family: MyriadPro-Semibold_po;
	src: url("fonts/MyriadPro-Semibold_po.woff") format("woff");
}

@font-face {
	font-family: MyriadPro-Bold_v2;
	src: url("fonts/MyriadPro-Bold_v2.woff") format("woff");
}

@font-face {
	font-family: MyriadPro-It_pl;
	src: url("fonts/MyriadPro-It_pl.woff") format("woff");
}

@font-face {
	font-family: HMAvenir-Regular_pk;
	src: url("fonts/HMAvenir-Regular_pk.woff") format("woff");
}

@font-face {
	font-family: MyriadPro-BlackSemiCn_pn;
	src: url("fonts/MyriadPro-BlackSemiCn_pn.woff") format("woff");
}

