.bodydiv
{
	margin-left: 215px;
}
#bgimage
{
	position:absolute;
	left:0px;
	top:0px;
}

#man1eye
{
	position:absolute;
	left:100px;
	top:224px;
	width:64px;
	height:26px;
	background:url(../image/page_2/man1eye.png) no-repeat;
}
#eyebrow
{
	position:absolute;
	left:98px;
	top:213px;
	width:69px;
	height:24px;
	background:url(../image/page_2/eyebrow.png) no-repeat;
}
#man2eye
{
	position:absolute;
	left:485px;
	top:502px;
	width:71px;
	height:28px;
	background:url(../image/page_2/man2eye.png) no-repeat;
}
#girleye
{
	position:absolute;
	left:429px;
	top:533px;
	width:56px;
	height:25px;
	background:url(../image/page_2/girleye.png) no-repeat;
}
#specover
{
	position:absolute;
	left:481px;
	top:500px;
}
/***********************************/
#frameimg
{
	position:absolute;
	top:0px;
	left:0px;
	width:1276px;
	height:808px;
	background:url(../image/page_2/frame.png) no-repeat;
	pointer-events:none;
}
#moon
{
	position:absolute;
	left:439px;
	top:68px;
	width:142px;
	height:153px;
	background:url(../image/page_2/moon.png) no-repeat;
}
#star1_1
{
	position:absolute;
	left:439px;
	top:48px;
	width:54px;
	height:48px;
	background:url(../image/page_2/star1.png) no-repeat;
}
#star1_2
{
	position:absolute;
	left:409px;
	top:238px;
	width:54px;
	height:48px;
	background:url(../image/page_2/star1.png) no-repeat;
}
#star1_3
{
	position:absolute;
	left:489px;
	top:328px;
	width:54px;
	height:48px;
	background:url(../image/page_2/star1.png) no-repeat;
}
#star1_4
{
	position:absolute;
	left:519px;
	top:107px;
	width:54px;
	height:48px;
	background:url(../image/page_2/star1.png) no-repeat;
}
#star2
{
	position:absolute;
	left:524px;
	top:248px;
	width:54px;
	height:48px;
	background:url(../image/page_2/star2.png) no-repeat;
}
#manhand
{
	position:absolute;
	left:457px;
	top:262px;
	width:48px;
	height:219px;
	background:url(../image/page_2/manhand.png) no-repeat;
	cursor:pointer;
}
#flower
{
	position:absolute;
	left:421px;
	top:652px;
	width:44px;
	height:137px;
	background:url(../image/page_2/flower.png) no-repeat;
	cursor:pointer;
}
#watch
{
	position:absolute;
	left:140px;
	top:449px;
	cursor:pointer;
}
/***********************************/
#womanclick
{
	position: absolute;
	left: 386px;
	top: 399px;
	width: 97px;
	height: 408px;
	cursor:pointer;
}
#manclick
{
	position: absolute;
	left: 475px;
	top: 399px;
	width: 161px;
	height: 408px;
	cursor:pointer;
}
/*******************************************************************/
#hotspot1
{
	left: 142px;
	top: 452px;
}
#hotspot2
{
	left: 408px;
	top: 703px;
}
#hotspot3
{
	left: 506px;
	top: 661px;
}
/*******************************************************************/
