
.t {
	-webkit-transform-origin: top left;
	-moz-transform-origin: top left;
	-o-transform-origin: top left;
	-ms-transform-origin: top left;
	-webkit-transform: scale(0.25);
	-moz-transform: scale(0.25);
	-o-transform: scale(0.25);
	-ms-transform: scale(0.25);
	z-index: 2;
	position: absolute;
	white-space: pre;
	overflow: visible;
}


#t1_18{left:93px;top:650px;letter-spacing:-4.7px;word-spacing:4.3px;}
#t2_18{left:55px;top:693px;letter-spacing:-4.1px;word-spacing:3.5px;}
#t3_18{left:55px;top:735px;letter-spacing:-4.7px;}
#t4_18{left:526px;top:793px;}

.s1_18{
	FONT-SIZE: 134.4px;
	FONT-FAMILY: HMAvenir-Regular_pk;
	color: rgb(0,0,0);
}

.s2_18{
	FONT-SIZE: 73.3px;
	FONT-FAMILY: HMAvenir-Bold_pp;
	color: rgb(0,0,0);
}



@font-face {
	font-family: HMAvenir-Bold_pp;
	src: url("fonts/HMAvenir-Bold_pp.woff") format("woff");
}

@font-face {
	font-family: HMAvenir-Regular_pk;
	src: url("fonts/HMAvenir-Regular_pk.woff") format("woff");
}

