@font-face {
    font-family: docfont;
    /*src: url(../font/MinionPro-Regular.otf);
	src: url(../font/AvenirLTStd-Light.otf);
	src: url(../font/GoudyStd-Bold.otf);*/
	src: url(../font/Chevin-Light.otf);
}
body
{
	margin:0;
	padding:0;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	font-family:Baskerville, docfont;
	font-size:16px;
}

.wrapper
{
	position:absolute;
	left:0px;
	top:0px;
	width:638px;
	height:808px;
	overflow:hidden;
}

#heading
{
	color: #ef3b23;
	margin-top: 54px;
	font-size: 1.8em;
	text-align:center;
	font-family:HoeflerText-Black;
}
.bodydiv
{
	position: relative;
	margin: 6px 225px;
	padding: 5px 5px;
	z-index:1;
}
/*****************************************/
#tracer
{
	position:absolute;
	left:0px;
	top:0px;
	background:#FFFFFF;
	max-height:400px;
	overflow:auto;
}
/*****************************************/
.hotspot
{
	position:absolute;
	width:55px;
	height:55px;
	/*background:url(../image/hotspot.png) no-repeat;*/
	pointer-events:none;
}
.noselect
{
	-ms-touch-action: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	-webkit-user-drag: none;
}
/*****************************************/
.sparkle-canvas
{
	border-radius:50%;
}