
.t {
	-webkit-transform-origin: top left;
	-moz-transform-origin: top left;
	-o-transform-origin: top left;
	-ms-transform-origin: top left;
	-webkit-transform: scale(0.25);
	-moz-transform: scale(0.25);
	-o-transform: scale(0.25);
	-ms-transform: scale(0.25);
	z-index: 2;
	position: absolute;
	white-space: pre;
	overflow: visible;
}


#t1_14{left:93px;top:552px;letter-spacing:-4.5px;word-spacing:3.7px;}
#t2_14{left:55px;top:595px;letter-spacing:-5.3px;word-spacing:4.8px;}
#t3_14{left:55px;top:638px;letter-spacing:-4.4px;word-spacing:3.5px;}
#t4_14{left:55px;top:680px;letter-spacing:-4.5px;word-spacing:2.7px;}
#t5_14{left:227px;top:680px;letter-spacing:-4.5px;word-spacing:3.4px;}
#t6_14{left:55px;top:723px;letter-spacing:-4.9px;word-spacing:4.3px;}
#t7_14{left:526px;top:793px;}

.s1_14{
	FONT-SIZE: 134.4px;
	FONT-FAMILY: HMAvenir-Regular_pk;
	color: rgb(0,0,0);
}

.s2_14{
	FONT-SIZE: 73.3px;
	FONT-FAMILY: HMAvenir-Bold_pp;
	color: rgb(0,0,0);
}



@font-face {
	font-family: HMAvenir-Bold_pp;
	src: url("fonts/HMAvenir-Bold_pp.woff") format("woff");
}

@font-face {
	font-family: HMAvenir-Regular_pk;
	src: url("fonts/HMAvenir-Regular_pk.woff") format("woff");
}

